
services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db_prod
    restart: always
    env_file:
      - .env.prod
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - django_network

  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: django_api_prod
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 60
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
      - ./logs:/app/logs
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.prod
    env_file:
      - .env.prod
    depends_on:
      - db
    networks:
      - django_network
    restart: unless-stopped

volumes:
  postgres_data_prod:

networks:
  django_network:
    driver: bridge
