services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db_dev
    restart: always
    env_file:
      - .env.dev
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: django_api_dev
    command: bash /app/scripts/container/start_dev.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=config.settings.dev
    env_file:
      - .env.dev
    depends_on:
      - db

volumes:
  postgres_data_dev: